---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Área do Lojista - Esel">
  <!-- BANNER -->
  <div class="login-banner" style="background-image: url('https://www.esel.com.br/app/assets/dist/img/bg3.png'); min-height: 100vh; display: flex; align-items: center; justify-content: center;">
    <span class="mascara"></span>
    <div class="login-banner-container" data-aos="fade-up">
      <a href="/" title="Esel" class="login-banner-logo">
        <img src="/assets/7c8ed4e3a06870ca4f3deec989a7dac7.png" alt="Esel" />
      </a>
      
      <!-- FORMULÁRIO -->
      <form id="form-login" action="https://www.esel.com.br/acoes/app/usuarios/login.php" method="post" class="login-form center form-validation form-ajax enable-recaptcha" data-reset="true" data-acao="retorno" novalidate="">
        <div class="login-form-container" data-aos="fade-up">

          <h1 class="titulo">Área do Lojista</h1>
          <div class="texto center mb-2">Entre com seu e-mail e senha</div>

          <div class="campo-container campo-icon">
            <input type="email" name="login" id="login" maxlength="255" class="campo" placeholder="Digite seu e-mail" required="" />
            <label class="icon" for="login"><i class="las la-user"></i></label>
          </div>

          <div class="campo-container campo-icon">
            <input type="password" name="senha" id="senha" class="campo" placeholder="Digite sua senha" required="" />
            <label class="icon" for="senha"><i class="las la-lock"></i></label>
          </div>
          
          <div class="link-rec-wrp">
            <a href="#" class="link link-rec modal-open" data-modal="modal-recuperacao">Esqueci minha senha</a>
          </div>
          
          <div class="btn-container">
            <input type="hidden" name="retorno" value="https://www.esel.com.br/minha-conta/entrar" />
            <button type="submit" id="entrar" class="btn btn-full btn-primario btn-pulse">
              <span class="blob-effect">
                <span class="blob-btn__inner">
                  <span class="blob-btn__blobs">
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                  </span>
                </span>
              </span>Entrar
            </button>
          </div>

          <div class="link-rec-wrp mt-1">
            <span style="font-size: 14px; font-weight: 500;">Não possui uma conta? Clique no link para realizar o cadastro.</span>
            <a href="#" class="link link-rec modal-open" data-modal="modal-contato">Criar Conta</a>
          </div>

        </div>
      </form>
      <!-- //FORMULÁRIO -->
    </div>
  </div>

  <!-- MODAIS ESPECÍFICOS DA PÁGINA DE LOGIN -->
  <!-- MODAL RECUPERAÇÃO -->
  <div class="modal" id="modal-recuperacao">
    <div class="modal-wrap modal-sm">
      <span class="modal-btn-close modal-close" data-modal="modal-recuperacao"></span>
      <div class="modal-header">
        <span class="modal-titulo">Esqueci minha senha</span>
      </div>
      <div class="modal-body">
        <div class="texto mb-1">
          <p>Esqueceu a sua senha? Não tem problema, basta nos informar o endereço de e-mail utilizado no momento em que você se cadastrou que nós lhe enviaremos um e-mail com as instruções para você definir uma nova senha.</p>
        </div>
        <form id="form-recuperacao" action="https://www.esel.com.br/acoes/app/usuarios/envia_email_recuperacao.php" method="post" class="form-validation form-ajax enable-recaptcha" data-reset="true" data-modal="modal-recuperacao" novalidate="">
          <div class="campo-container campo-icon">
            <input type="email" name="email" id="email_recuperacao" maxlength="255" class="campo" placeholder="Digite seu e-mail de cadastro" required="" data-parsley-trigger="change" data-parsley-remote="https://www.esel.com.br/acoes/app/usuarios/verifica_email_recuperacao.php" data-parsley-remote-options="{ &quot;type&quot;: &quot;POST&quot; }" data-parsley-remote-validator="remote" data-parsley-remote-message="Este endereço de e-mail não foi encontrado em nosso sistema." /> 
            <label class="icon" for="email_recuperacao"><i class="las la-envelope"></i></label>
          </div>
          <div class="modal-btn center" style="margin-top: 0px;">
            <button type="submit" id="enviar_rec" class="btn btn-full btn-primario">
              <span class="blob-effect">
                <span class="blob-btn__inner">
                  <span class="blob-btn__blobs">
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                  </span>
                </span>
              </span>Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- MODAL CADASTRO (CONTATO) -->
  <div class="modal modal-contato" id="modal-contato">
    <div class="modal-wrap">
      <span class="modal-btn-close modal-close" data-modal="modal-contato"></span>
      <div class="modal-header">
        <div class="modal-titulo">Realizar Cadastro</div>
      </div>
      <div class="modal-body">
        <div class="texto center mb-2">
          Preencha os dados abaixo para realizar o cadastro e visualizar os valores do nosso catálogo
        </div>
        <form id="form-contato-modal" action="https://www.esel.com.br/acoes/app/usuarios/cadastro.php" method="post" class="form-validation form-ajax enable-recaptcha" data-reset="true" data-acao="retorno-acao" data-modal="modal-contato" novalidate="">
          <div class="radio-input">
            <label>
              <input value="Sou Lojista" name="tipo" id="tipo1" type="radio" checked="" />
              <span>Sou Lojista</span>
            </label>
            <label>
              <input value="Sou Construtora" name="tipo" id="tipo2" type="radio" />
              <span>Sou Construtora</span>
            </label>
            <span class="selection"></span>
          </div>
          
          <div class="row">
            <div class="grid-6 grid-m-6 grid-s-12 campo-container campo-icon">
              <input type="text" name="nome" id="md-nome" maxlength="255" class="campo" placeholder="Nome Completo" required="" /> 
              <label class="icon" for="md-nome"><i class="las la-user"></i></label>
            </div>
            <div class="grid-6 grid-m-6 grid-s-12 campo-container campo-icon">
              <input type="text" name="razao_social" id="md-razao_social" maxlength="255" class="campo" placeholder="Razão Social" required="" />
              <label class="icon" for="md-razao_social"><i class="las la-user"></i></label>
            </div>
          </div>

          <div class="row">
            <div class="grid-6 grid-m-6 grid-s-12 campo-container campo-icon">
              <input type="email" name="email" id="md-email" maxlength="255" class="campo" placeholder="E-mail" required="" />
              <label class="icon" for="md-email"><i class="las la-envelope"></i></label>
            </div>
            <div class="grid-6 grid-m-6 grid-s-12 campo-container campo-icon">
              <input type="tel" name="telefone" id="md-telefone" maxlength="15" class="campo telefone" placeholder="Telefone" required="" />
              <label class="icon" for="md-telefone"><i class="las la-phone"></i></label>
            </div>
          </div>

          <div class="campo-container campo-icon">
            <textarea name="endereco" id="md-endereco" maxlength="1000" class="campo" rows="4" placeholder="Endereço" required=""></textarea>
            <label class="icon" for="md-endereco"><i class="las la-map-marker"></i></label>        
          </div>

          <div class="btn-container">
            <input type="text" name="cph1d3" style="display: none;" />
            <input type="text" name="cpt1m3" value="1783610850" style="display: none;" />
            <input type="hidden" name="extra" value='{"location":{"city":"Campo Grande","country":"Brasil","countryCode":"BR","query":"200.129.210.229","region":"MS","regionName":"Mato Grosso do Sul","status":"success"}}' />
            <button type="submit" class="btn btn-primario">
              <span class="blob-effect">
                <span class="blob-btn__inner">
                  <span class="blob-btn__blobs">
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                  </span>
                </span>
              </span>Ver Valores
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Voltar ao topo e Configs base -->
  <div class="gotop"></div>
  <span id="infos" data-url-base="https://www.esel.com.br/" data-recaptchakey="6LcFEOQpAAAAAI7Klmb2l1mKRnGf_ff6VdMk19F7"></span>
</Layout>
