---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Modals from '../components/Modals.astro';
---

<Layout title="Fale Conosco - Jeferson Dev Full Stack">
  <Header />

  <!-- BANNER -->
  <section class="pag-banner" style="background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=2000');">
    <div class="mascara"></div>
    <div class="container">
      <div class="grid-12 content" data-aos="fade-up">
        <h2 class="top-tit primary subtitulo">Fale Conosco</h2>
        <h1 class="titulo" style="font-weight: 700; color: #fff;">Estamos à Disposição para Atender Você!</h1>
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="#">Fale Conosco</a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //BANNER -->

  <!-- PÁGINA -->
  <section class="secao secao-pag">
    <div class="container">

      <!-- LATERAL / INFORMAÇÕES DE CONTATO -->
      <div class="contato-lateral" data-aos="fade-up">

        <!-- Item 1: Telefone/Whatsapp -->
        <div class="contato-item grid-4 grid-m-6 grid-s-12">
          <div class="contato-item-icon">
            <img src="https://www.esel.com.br/app/assets/dist/img/phone-call.svg" alt="Telefone" />
          </div>
          <div class="contato-item-infos">
            <div class="contato-item-tit">Entre em Contato</div>
            <a href="tel:67999169556" class="contato-item-txt"> Telefone: <b>(67) 99916-9556</b></a>
            <a href="https://wa.me/5567999169556" target="_blank" class="contato-item-txt"> Whatsapp: <b>(67) 99916-9556</b></a>
          </div>				
        </div>
      
        <!-- Item 2: Horário -->
        <div class="contato-item grid-4 grid-m-6 grid-s-12">
          <div class="contato-item-icon">
            <img src="https://www.esel.com.br/app/assets/dist/img/alarm.svg" alt="Atendimento" />
          </div>
          <div class="contato-item-infos">
            <div class="contato-item-tit">Horário de Atendimento</div>
            <div class="contato-item-txt truncated">De segunda à sexta, das 8:00h às 18:00h</div>
            <a href="mailto:jefergarcia2013@gmail.com" class="contato-item-txt truncated">Email: <b>jefergarcia2013@gmail.com</b></a>
          </div>				
        </div>
        
        <!-- Item 3: Endereço -->
        <div class="contato-item grid-4 grid-m-6 grid-s-12">
          <div class="contato-item-icon">
            <img src="https://www.esel.com.br/app/assets/dist/img/location.svg" alt="Endereço" />
          </div>
          <div class="contato-item-infos">
            <div class="contato-item-tit">Endereço</div>
            <a href="#" class="contato-item-txt">Três Lagoas - MS, 79621-130</a>
          </div>			
        </div>
        
      </div>
      <!-- //LATERAL -->

      <!-- CONTEÚDO / FORMULÁRIO -->
      <div class="flex-center lista-form mb-3">

        <!-- FORMULÁRIO -->
        <form id="form-contato" action="#" method="post" class="grid-6 grid-m-12 grid-s-12 form-validation form-contato" data-reset="true" data-aos="fade-up">

          <div class="campo-container campo-icon">
            <input type="text" name="nome" id="nome" maxlength="255" class="campo" placeholder="Digite seu nome" required /> 
            <label class="icon" for="nome"><i class="las la-user"></i></label>
          </div>

          <div class="row">
            <div class="grid-6 grid-m-6 grid-s-12 campo-container campo-icon">
              <input type="email" name="email" id="email" maxlength="255" class="campo" placeholder="Digite seu e-mail" required /> 
              <label class="icon" for="email"><i class="las la-envelope"></i></label>
            </div>
            <div class="grid-6 grid-m-6 grid-s-12 campo-container campo-icon">
              <input type="tel" name="telefone" id="telefone" maxlength="255" class="campo" placeholder="Digite seu telefone" required /> 
              <label class="icon" for="telefone"><i class="las la-phone"></i></label>
            </div>
          </div>

          <div class="campo-container campo-icon">
            <select id="assunto" name="assunto" class="campo" required>
              <option value="" hidden>Selecione um assunto</option>
              <option value="comercial">Comercial / Orçamentos</option>
              <option value="tecnico">Dúvidas Técnicas</option>
              <option value="parceria">Parcerias</option>
              <option value="outros">Outros</option>
            </select>
            <i class="arrow"></i>
            <label class="icon" for="assunto"><i class="las la-comment"></i></label>
          </div>

          <div class="campo-container campo-icon">
            <textarea name="mensagem" id="mensagem" maxlength="1000" class="campo" rows="4" placeholder="Digite sua mensagem..." required></textarea> 
            <label class="icon" for="mensagem"><i class="las la-envelope-open"></i></label>
          </div>

          <div class="btn-container">
            <button type="submit" class="btn btn-primario outline">
              <span class="blob-effect">
                <span class="blob-btn__inner">
                  <span class="blob-btn__blobs">
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                    <span class="blob-btn__blob"></span>
                  </span>
                </span>
              </span>Enviar
            </button>
          </div>

        </form>
        <!-- //FORMULÁRIO -->

        <!-- TEXTO DIREITA -->
        <div class="right-txt-contato grid-6 grid-s-12">
          <h3 class="top-tit left primary subtitulo">Tem dúvidas?</h3>
          <h2 class="titulo left">Fale com Jeferson Dev</h2>
          <div class="texto">
            <p><strong>Preencha o formulário ao lado e clique em enviar.</strong><br />
            Responderemos sua mensagem com um orçamento ou consultoria técnica o mais rápido possível!</p>
          </div>

          <!-- Redes sociais -->
          <div class="redes-sociais-tit"><b>Siga-nos nas redes sociais!</b></div>
          <div class="redes-sociais">
            <a href="https://www.instagram.com/" target="_blank" title="Instagram" data-aos="zoom-in" data-aos-delay="200"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank" title="Facebook" data-aos="zoom-in" data-aos-delay="300"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/" target="_blank" title="Youtube" data-aos="zoom-in" data-aos-delay="500"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/" target="_blank" title="LinkedIn" data-aos="zoom-in" data-aos-delay="700"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <!-- //Redes sociais -->

        </div>

      </div>
      <!-- //CONTEÚDO -->

      <!-- LOCALIZAÇÃO / GOOGLE MAPS -->
      <h4 class="top-tit primary subtitulo">Localização</h4>
      <h3 class="titulo">Encontre-nos no Google Maps</h3>

      <div class="flex-center">
        <div class="mapa grid-12">
          <div class="contato-item-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6202.55573947336!2d-51.716999246455195!3d-20.782981569145708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x949098f814c0e8fd%3A0x30f9c29cc558dd87!2slagoa%20maior!5e0!3m2!1spt-BR!2sbr!4v1783624348062!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
          </div>
        </div> 
      </div>
      
    </div>
  </section>
  <!-- //PÁGINA -->

  <Footer />
  <Modals />
</Layout>
