---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSlider from '../components/HeroSlider.astro';
import Categories from '../components/Categories.astro';
import ProductsCarousel from '../components/ProductsCarousel.astro';
import About from '../components/About.astro';
import ValueBlocks from '../components/ValueBlocks.astro';
import ContactCTA from '../components/ContactCTA.astro';
import BlogCarousel from '../components/BlogCarousel.astro';
import Footer from '../components/Footer.astro';
import Modals from '../components/Modals.astro';
---

<Layout title="Esel - Soluções em Madeira">
  <Header />
  <main>
    <HeroSlider />
    <Categories />
    <ProductsCarousel />
    <About />
    <ValueBlocks />
    <ContactCTA />
    <BlogCarousel />
  </main>
  <Footer />
  <Modals />
</Layout>
