---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Modals from '../components/Modals.astro';
---

<Layout title="Novidades - Jeferson Dev Full Stack">
  <Header />

  <!-- BANNER -->
  <section class="pag-banner" style="background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=2000');">
    <div class="mascara"></div>
    <div class="container">
      <div class="grid-12 content" data-aos="fade-up">
        <h2 class="top-tit primary subtitulo">Blog</h2>
        <h1 class="titulo" style="font-weight: 700; color: #fff;">Últimas Novidades do Blog de Tech</h1>
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="#">Novidades</a></li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //BANNER -->

  <!-- PÁGINA -->
  <section class="secao secao-pag">
    <div class="container">
      
      <!-- FILTROS CATEGORIAS MOBILE -->
      <div class="grid-12 produtos-categorias-select hide-desktop" data-aos="fade-up">
        <div class="campo-container">
          <select id="prod-cat-mb" class="campo">
            <option value="/noticias">Todos posts</option>
            <option value="#">Desenvolvimento</option>
            <option value="#">Engenharia</option>
            <option value="#">Infraestrutura</option>
          </select>
          <i class="arrow"></i>
        </div>					
      </div>
      
      <!-- LISTA -->
      <div class="lista-posts">
        
        <!-- POSTS GRID (ESQUERDA) -->
        <div class="grid-8 grid-m-12 grid-s-12 lista-post-blog">

          <!-- Post 1 -->
          <a href="/post/esquadrias-de-madeira-macica" class="grid-6 grid-m-6 grid-s-12 blog-p">           
            <figure class="blog-p-img">
              <img class="shimmer lazyload" data-src="/assets/cd4be24f7204cbc1645ff187765fe36f.jpg" src="/assets/cd4be24f7204cbc1645ff187765fe36f.jpg" width="380px" height="285px" alt="Arquitetura Web Moderna em 2026" />
              <span class="blog-cat">Engenharia</span>
            </figure>
            <div class="blog-p-infos">
              <div class="blog-p-data"><i class="las la-calendar-alt"></i>17 de Fevereiro<span></span><i class="las la-clock"></i> 2 min. de leitura</div>
              <div class="blog-p-titulo">Arquitetura Web Moderna em 2026</div>
              <div class="blog-p-texto">Jeferson Dev Full Stack, especializado em desenvolvimento web, é referência no mercado desde 2018. Focado em arquiteturas serverless e escalabilidade...</div>
              <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
            </div>          
          </a>

          <!-- Post 2 -->
          <a href="/post/uma-nova-linha-um-novo-comeco-ainda-mais-qualidade" class="grid-6 grid-m-6 grid-s-12 blog-p">           
            <figure class="blog-p-img">
              <img class="shimmer lazyload" data-src="/assets/19f1c665239846b0b27b6db70d75b9a8.png" src="/assets/19f1c665239846b0b27b6db70d75b9a8.png" width="380px" height="285px" alt="Uma nova arquitetura, um novo começo: migrando para o Astro" />
              <span class="blog-cat">Desenvolvimento</span>
            </figure>
            <div class="blog-p-infos">
              <div class="blog-p-data"><i class="las la-calendar-alt"></i>06 de Fevereiro<span></span><i class="las la-clock"></i> 1 min. de leitura</div>
              <div class="blog-p-titulo">Uma nova arquitetura, um novo começo: migrando para o Astro</div>
              <div class="blog-p-texto">Astro é a nossa mais recente aposta no mercado de desenvolvimento frontend, trazendo uma proposta inovadora de ilhas de interatividade...</div>
              <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
            </div>          
          </a>

          <!-- Post 3 -->
          <a href="/post/como-a-madeira-pode-transformar-pequenos-ambientes" class="grid-6 grid-m-6 grid-s-12 blog-p">           
            <figure class="blog-p-img">
              <img class="shimmer lazyload" data-src="/assets/d64f4ea92b84ca3a17e5376d340c44bf.png" src="/assets/d64f4ea92b84ca3a17e5376d340c44bf.png" width="380px" height="285px" alt="Como a velocidade da página afeta suas conversões" />
              <span class="blog-cat">Desenvolvimento</span>
            </figure>
            <div class="blog-p-infos">
              <div class="blog-p-data"><i class="las la-calendar-alt"></i>14 de Agosto<span></span><i class="las la-clock"></i> 3 min. de leitura</div>
              <div class="blog-p-titulo">Como a velocidade da página afeta suas conversões</div>
              <div class="blog-p-texto">A velocidade de carregamento é uma aliada poderosa nas vendas. Sites rápidos melhoram a experiência do usuário e otimizam a pontuação no Google...</div>
              <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
            </div>          
          </a>

          <!-- Post 4 -->
          <a href="/post/vantagens-de-usar-madeira-macica-em-espacos-externos" class="grid-6 grid-m-6 grid-s-12 blog-p">           
            <figure class="blog-p-img">
              <img class="shimmer lazyload" data-src="/assets/2f74b222f30cff39fed8c5a256ad128e.jpg" src="/assets/2f74b222f30cff39fed8c5a256ad128e.jpg" width="380px" height="285px" alt="Vantagens de utilizar Serverless e Edge Computing" />
              <span class="blog-cat">Infraestrutura</span>
            </figure>
            <div class="blog-p-infos">
              <div class="blog-p-data"><i class="las la-calendar-alt"></i>14 de Agosto<span></span><i class="las la-clock"></i> 2 min. de leitura</div>
              <div class="blog-p-titulo">Vantagens de utilizar Serverless e Edge Computing</div>
              <div class="blog-p-texto">A computação em borda e arquiteturas sem servidor trazem flexibilidade, otimização de custos e latência global extremamente baixa...</div>
              <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
            </div>          
          </a>

          <!-- Post 5 -->
          <a href="/post/como-escolher-a-porta-interna-ideal-para-cada-ambiente" class="grid-6 grid-m-6 grid-s-12 blog-p">           
            <figure class="blog-p-img">
              <img class="shimmer lazyload" data-src="/assets/4de92d223d058577122e4230a18caf0c.jpg" src="/assets/4de92d223d058577122e4230a18caf0c.jpg" width="380px" height="285px" alt="Como escolher o framework frontend ideal para seu projeto" />
              <span class="blog-cat">Engenharia</span>
            </figure>
            <div class="blog-p-infos">
              <div class="blog-p-data"><i class="las la-calendar-alt"></i>14 de Agosto<span></span><i class="las la-clock"></i> 2 min. de leitura</div>
              <div class="blog-p-titulo">Como escolher o framework frontend ideal para seu projeto</div>
              <div class="blog-p-texto">Escolher a tecnologia certa vai além da estética: ela influencia no tempo de entrega, manutenibilidade e escalabilidade do seu sistema web...</div>
              <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
            </div>          
          </a>

          <!-- Post 6 -->
          <a href="/post/exporevestir-2025" class="grid-6 grid-m-6 grid-s-12 blog-p">           
            <figure class="blog-p-img">
              <img class="shimmer lazyload" data-src="/assets/bd735c7c8b0fa6956561777b9cb8f926.jpg" src="/assets/bd735c7c8b0fa6956561777b9cb8f926.jpg" width="380px" height="285px" alt="Conclusão do WebSummit 2025" />
              <span class="blog-cat">Desenvolvimento</span>
            </figure>
            <div class="blog-p-infos">
              <div class="blog-p-data"><i class="las la-calendar-alt"></i>25 de Março<span></span><i class="las la-clock"></i> 2 min. de leitura</div>
              <div class="blog-p-titulo">Conclusão do WebSummit 2025</div>
              <div class="blog-p-texto">Encerramos nossa participação nas palestras do WebSummit 2025 trazendo diversos insights sobre desenvolvimento web com IA e integrações...</div>
              <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
            </div>          
          </a>

        </div>
        <!-- //POSTS GRID -->

        <!-- SIDEBAR (DIREITA) -->
        <div class="grid-4 grid-m-12 grid-s-12 side-bar-blog">
          
          <!-- Categorias -->
          <ul class="blog-categorias-btns hide-mobile hide-tablet" data-aos="fade-up">
            <li class="blog-categorias-tit subtitulo">Categorias</li>
            <li><a href="/noticias" class="cat-item cat-item-bd">Todos</a></li>
            <li><a href="#" class="cat-item">Desenvolvimento</a></li>
            <li><a href="#" class="cat-item">Engenharia</a></li>
            <li><a href="#" class="cat-item">Infraestrutura</a></li>
          </ul>
        
          <!-- Recentes -->
          <div class="list-posts-home hide-tablet" data-aos="fade-up">
            <div class="list-blog-post">
              <div class="blog-categorias-tit subtitulo">Posts Recentes</div>

              <!-- Recente 1 -->
              <a href="/post/uma-nova-linha-um-novo-comeco-ainda-mais-qualidade" class="blog-post-side">
                <div class="post-side-img">
                  <img class="shimmer lazyload" data-src="/assets/19f1c665239846b0b27b6db70d75b9a8.png" src="/assets/19f1c665239846b0b27b6db70d75b9a8.png" width="380px" height="285px" alt="Uma nova arquitetura" />
                </div>
                <div>
                  <h3 class="post-side-titulo">Uma nova arquitetura, um novo começo: migrando para o Astro</h3>
                  <div class="post-side-date">06 Fev, 2026</div>
                </div>
              </a>

              <!-- Recente 2 -->
              <a href="/post/como-escolher-a-porta-interna-ideal-para-cada-ambiente" class="blog-post-side">
                <div class="post-side-img">
                  <img class="shimmer lazyload" data-src="/assets/4de92d223d058577122e4230a18caf0c.jpg" src="/assets/4de92d223d058577122e4230a18caf0c.jpg" width="380px" height="285px" alt="Como escolher o framework" />
                </div>
                <div>
                  <h3 class="post-side-titulo">Como escolher o framework frontend ideal para seu projeto</h3>
                  <div class="post-side-date">14 Ago, 2025</div>
                </div>
              </a>

              <!-- Recente 3 -->
              <a href="/post/vantagens-de-usar-madeira-macica-em-espacos-externos" class="blog-post-side">
                <div class="post-side-img">
                  <img class="shimmer lazyload" data-src="/assets/2f74b222f30cff39fed8c5a256ad128e.jpg" src="/assets/2f74b222f30cff39fed8c5a256ad128e.jpg" width="380px" height="285px" alt="Serverless & Edge" />
                </div>
                <div>
                  <h3 class="post-side-titulo">Vantagens de utilizar Serverless e Edge Computing</h3>
                  <div class="post-side-date">14 Ago, 2025</div>
                </div>
              </a>

            </div>
          </div>
          <!-- //Recentes -->

        </div>
        <!-- //SIDEBAR -->

      </div>
      <!-- //LISTA -->
      
    </div>
  </section>
  <!-- //PÁGINA -->

  <Footer />
  <Modals />
</Layout>
