---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Modals from '../components/Modals.astro';
---

<Layout title="Política de Privacidade - Esel">
  <Header />

  <!-- BANNER -->
  <section class="pag-banner" style="background-image: url('https://www.esel.com.br/uploads/paginas/2/thumb-2000-400/03757127576d719f39befe74300a5944.jpg');">
    <div class="mascara"></div>
    <div class="container">
      <div class="grid-12 content" data-aos="fade-up">
        <h2 class="top-tit primary subtitulo">Transparência</h2>
        <h1 class="titulo" style="font-weight: 700; color: #fff;">Política de Privacidade</h1>
      </div>
    </div>
  </section>
  <!-- //BANNER -->

  <!-- PÁGINA -->
  <section class="secao secao-pag">
    <div class="container">
      
      <!-- CONTEÚDO PRINCIPAL -->
      <div class="pag-inst-content" data-aos="fade-up" data-aos-offset="0">

        <!-- TEXTO -->
        <div class="grid-9 grid-m-10 grid-s-12 pag-inst-texto">
          <div class="texto">
            <p>Nós usamos cookies para melhorar sua experiência de navegação no portal. Ao utilizar o <strong>esel.com.br</strong>, você concorda com a política de monitoramento de cookies. Para ter mais informações sobre como isso é feito, acesse Política de cookies. Se você concorda, clique em <strong>Aceito</strong>.</p>

            <p><strong>O que são cookies?</strong><br />
            Cookies são arquivos salvos em seu computador, tablet ou telefone quando você visita um site. Usamos os cookies necessários para fazer o site funcionar da melhor forma possível e sempre aprimorar os nossos serviços.<br />
            Alguns cookies são classificados como necessários e permitem a funcionalidade central, como segurança, gerenciamento de rede e acessibilidade. Estes cookies podem ser coletados e armazenados assim que você inicia sua navegação ou quando usa algum recurso que os requer.</p>

            <p><strong>Cookies Primários</strong><br />
            Alguns cookies serão colocados em seu dispositivo diretamente pelo nosso site - são conhecidos como cookies primários. Eles são essenciais para você navegar no site e usar seus recursos.</p>

            <p><strong>Temporários</strong><br />
            Nós utilizamos cookies de sessão. Eles são temporários e expiram quando você fecha o navegador ou quando a sessão termina.</p>

            <p><strong>Finalidade</strong><br />
            Estabelecer controle de idioma e segurança ao tempo da sessão.</p>

            <p><strong>Persistentes</strong><br />
            Utilizamos também cookies persistentes que permanecem em seu disco rígido até que você os apague ou seu navegador o faça, dependendo da data de expiração do cookie. Todos os cookies persistentes têm uma data de expiração gravada em seu código, mas sua duração pode variar.</p>

            <p><strong>Finalidade</strong><br />
            Coletam e armazenam a ciência sobre o uso de cookies no site.</p>

            <p><strong>Cookies de Terceiros</strong><br />
            Outros cookies são colocados no seu dispositivo não pelo site que você está visitando, mas por terceiros, como, por exemplo, os sistemas analíticos.</p>

            <p><strong>Temporários</strong><br />
            Nós utilizamos cookies de sessão. Eles são temporários e expiram quando você fecha o navegador ou quando a sessão termina.</p>

            <p><strong>Finalidade</strong><br />
            Coletam informações sobre como você usa o site, como as páginas que você visitou e os links em que clicou. Nenhuma dessas informações pode ser usada para identificá-lo. Seu único objetivo é possibilitar análises e melhorar as funções do site.</p>

            <p><strong>Persistentes</strong><br />
            Utilizamos também cookies persistentes que permanecem em seu disco rígido até que você os apague ou seu navegador o faça, dependendo da data de expiração do cookie. Todos os cookies persistentes têm uma data de expiração gravada em seu código, mas sua duração pode variar.</p>

            <p><strong>Finalidade</strong><br />
            Coletam informações sobre como você usa o site, como as páginas que você visitou e os links em que clicou. Nenhuma dessas informações pode ser usada para identificá-lo. Seu único objetivo é possibilitar análises e melhorar as funções do site.</p>

            <p>Você pode desabilitá-los alterando as configurações do seu navegador, mas saiba que isso pode afetar o funcionamento do site.</p>

            <ul>
              <li>Chrome</li>
              <li>Firefox</li>
              <li>Microsoft Edge</li>
              <li>Internet Explorer</li>
            </ul>
          </div>
        </div>
        <!-- //TEXTO -->

      </div>
      <!-- //CONTEÚDO PRINCIPAL -->

    </div>
  </section>
  <!-- //PÁGINA -->

  <Footer />
  <Modals />
</Layout>
