---
// About component
---
<section class="secao home-sobre overflow-hidden">
  <div class="container">
    <div class="home-sobre-content">

      <!-- Textos -->
      <div class="grid-6 grid-s-12 home-sobre-infos" data-aos="fade-right" data-aos-offset="0">

        <h3 class="subtitulo top-tit left">Quem Somos</h3>
        <h2 class="titulo left">Esel - Esquadrias de Madeiras</h2>

        <!-- Imagem mobile -->
        <span class="load-img-mobile" data-img="sobre-home"></span>

        <div class="texto">
          <p>De marcenaria familiar a referência em esquadrias de madeira, nossa história começou em 1969 no setor madeireiro.</p>
          <p>Em 1991, nos tornamos uma pequena marcenaria e, com dedicação, evoluímos para uma indústria especializada, consolidada no mercado.</p>
        </div>

        <div class="btn-container left">
          <a href="/quem-somos" class="btn btn-primario outline">
            <span class="blob-effect">
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </span>Saiba Mais
          </a>
          <a href="tel:4936330228" class="contact-header">
            <div class="icon-tel"><i class="fas fa-phone fa-flip-horizontal"></i></div>
            <span><div class="tel-number">(49) 3633-0228</div>Fale Conosco!</span>
          </a>
        </div>

        <ul class="contadores-lista">
          <!-- Contador 1 -->
          <li class="grid-4 grid-m-6 grid-s-12 contador-wrp" data-aos="fade-up">
            <div class="contador-item">
              <div class="contador-num-wrp">
                <div class="contador-prefix">+</div>
                <div class="contador-num" data-count="30">30</div>
                <div class="contador-sufix">Anos</div>
              </div>
              <div class="contador-titulo">Experiência em Madeira</div>
            </div>
          </li>
          
          <!-- Contador 2 -->
          <li class="grid-4 grid-m-6 grid-s-12 contador-wrp" data-aos="fade-up">
            <div class="contador-item">
              <div class="contador-num-wrp">
                <div class="contador-prefix">+</div>
                <div class="contador-num" data-count="500">500</div>
                <div class="contador-sufix">mil</div>
              </div>
              <div class="contador-titulo">Portas Entregues</div>
            </div>
          </li>

          <!-- Contador 3 -->
          <li class="grid-4 grid-m-6 grid-s-12 contador-wrp" data-aos="fade-up">
            <div class="contador-item">
              <div class="contador-num-wrp">
                <div class="contador-prefix">+</div>
                <div class="contador-num" data-count="100">100</div>
                <div class="contador-sufix">mil</div>
              </div>
              <div class="contador-titulo">Clientes Satisfeitos</div>
            </div>
          </li>
        </ul>

      </div>
      <!-- //Textos -->

      <!-- Foto -->
      <div class="grid-6 grid-s-12 home-sobre-foto" data-id-img="sobre-home">    
        <figure class="img-1" data-aos="fade-down" data-aos-offset="0">
          <img class="shimmer lazyload" data-src="/assets/916bc1f5cb0a50ec5385b30165e0a80b.jpg" src="/assets/916bc1f5cb0a50ec5385b30165e0a80b.jpg" width="580px" height="406px" alt="Esel Fábrica" />
        </figure>
        <figure class="img-2" data-aos="fade-up" data-aos-offset="0">
          <img class="shimmer lazyload" data-src="/assets/beabe6c812707ceb6b2652e632dfc688.jpg" src="/assets/beabe6c812707ceb6b2652e632dfc688.jpg" width="580px" height="406px" alt="Esel Portas" />
        </figure>
      </div>
      <!-- //Foto -->

    </div>
  </div>
</section>
