---
// BlogCarousel component
---
<section class="secao grey home-blog">
  <div class="container">

    <h2 class="top-tit primary subtitulo" data-aos="fade-up">Novidades</h2>
    <h2 class="titulo" data-aos="fade-up">Últimas do Blog de Tech</h2>

    <!-- CARROSSEL -->
    <div class="grid-12" data-aos="fade-up">
      <div class="splide carousel carousel-arrows-zoom carrossel-blog" id="splide02">
        <div class="splide__track" id="splide02-track">
          <div class="splide__list" id="splide02-list">
      
            <!-- Artigo 1 -->
            <div class="splide__slide" id="splide02-slide01">
              <a href="/post/uma-nova-linha-um-novo-comeco-ainda-mais-qualidade" class="blog-p">           
                <figure class="blog-p-img">
                  <img class="shimmer lazyload" data-src="/assets/19f1c665239846b0b27b6db70d75b9a8.png" src="/assets/19f1c665239846b0b27b6db70d75b9a8.png" width="380px" height="285px" alt="Uma nova arquitetura, um novo começo: migrando para o Astro" />
                  <span class="blog-cat">Desenvolvimento</span>
                </figure>
                <div class="blog-p-infos">
                  <div class="blog-p-data"><i class="las la-calendar-alt"></i>06 de Fevereiro<span></span><i class="las la-clock"></i> 2 min. de leitura</div>
                  <div class="blog-p-titulo">Uma nova arquitetura, um novo começo: migrando para o Astro</div>
                  <div class="blog-p-texto">Astro é a nossa mais recente aposta para desenvolvimento frontend de alta performance. Desenvolvido para entregar carregamento instantâneo...</div>
                  <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
                </div>          
              </a>
            </div>

            <!-- Artigo 2 -->
            <div class="splide__slide" id="splide02-slide02">
              <a href="/post/como-escolher-a-porta-interna-ideal-para-cada-ambiente" class="blog-p">           
                <figure class="blog-p-img">
                  <img class="shimmer lazyload" data-src="/assets/4de92d223d058577122e4230a18caf0c.jpg" src="/assets/4de92d223d058577122e4230a18caf0c.jpg" width="380px" height="285px" alt="Como escolher o framework frontend ideal para seu projeto" />
                  <span class="blog-cat">Engenharia</span>
                </figure>
                <div class="blog-p-infos">
                  <div class="blog-p-data"><i class="las la-calendar-alt"></i>14 de Agosto<span></span><i class="las la-clock"></i> 3 min. de leitura</div>
                  <div class="blog-p-titulo">Como escolher o framework frontend ideal para seu projeto</div>
                  <div class="blog-p-texto">Escolher o framework certo vai além da estética: influencia na manutenibilidade, velocidade de carregamento e tempo de desenvolvimento. Para...</div>
                  <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
                </div>          
              </a>
            </div>

            <!-- Artigo 3 -->
            <div class="splide__slide" id="splide02-slide03">
              <a href="/post/vantagens-de-usar-madeira-macica-em-espacos-externos" class="blog-p">           
                <figure class="blog-p-img">
                  <img class="shimmer lazyload" data-src="/assets/2f74b222f30cff39fed8c5a256ad128e.jpg" src="/assets/2f74b222f30cff39fed8c5a256ad128e.jpg" width="380px" height="285px" alt="Vantagens de utilizar Serverless e Edge Computing" />
                  <span class="blog-cat">Infraestrutura</span>
                </figure>
                <div class="blog-p-infos">
                  <div class="blog-p-data"><i class="las la-calendar-alt"></i>14 de Agosto<span></span><i class="las la-clock"></i> 4 min. de leitura</div>
                  <div class="blog-p-titulo">Vantagens de utilizar Serverless e Edge Computing</div>
                  <div class="blog-p-texto">Edge computing e arquiteturas serverless reduzem drasticamente o tempo de latência, fornecendo entrega global rápida e custos sob medida...</div>
                  <div class="blog-p-link">Ver postagem <i class="las la-arrow-right"></i></div>
                </div>          
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- //CARROSSEL -->

  </div>
</section>
