---
// ContactCTA component
---
<section class="secao bg-image chamada-home overflow-hidden lazyload" data-bg="https://www.esel.com.br/uploads/paginas/9/thumb-2000-0/b249eec00b71683bf2de90cb13f11e8f.jpg" style="background-image: url('https://www.esel.com.br/uploads/paginas/9/thumb-2000-0/b249eec00b71683bf2de90cb13f11e8f.jpg');">
  <span class="mascara"></span>
  <div class="container">
    <div class="content-chamada">
      <div class="grid-6 grid-m-7 grid-s-12">

        <h3 class="subtitulo left top-tit primary" data-aos="fade-up">Entre em Contato</h3>
        <h2 class="titulo left white" data-aos="fade-up">Descubra a Excelência em Esquadrias de Madeira na ESEL</h2>

        <!-- Imagem mobile -->
        <span class="load-img-mobile" data-img="chamada-home"></span>

        <h3 class="subtitulo subtitulo-chamada left white" data-aos="fade-up">
          <p>Clique no botão abaixo e solicite um <strong>orçamento</strong> de forma simples e rápida.</p>
        </h3>

        <div class="infos-contato flex-center mt-4" data-aos="fade-up">
          <!-- Telefone -->
          <a href="tel:4936330228" class="contato-item-chamada grid-m-8">
            <div class="contato-item-chamada-icon">
              <img src="/assets/telephone.svg" alt="Telefone" />
            </div>
            <div class="contato-item-chamada-infos">
              <div class="contato-item-chamada-tit">Telefone</div>
              <div class="contato-item-chamada-txt">(49) 3633-0228</div>
            </div>				
          </a>

          <!-- Email -->
          <a href="mailto:falecom@esel.com.br" class="contato-item-chamada grid-m-8">
            <div class="contato-item-chamada-icon">
              <img src="/assets/mail.svg" alt="E-mail" />
            </div>
            <div class="contato-item-chamada-infos">
              <div class="contato-item-chamada-tit">E-mail</div>
              <div class="contato-item-chamada-txt truncated">falecom@esel.com.br</div>
            </div>				
          </a>
        </div>

        <div class="btn-container left" data-aos="fade-up">
          <a href="/whatsapp.php" class="btn btn-white">
            <span class="blob-effect">
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </span>Fale com um Representante
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
