---
// ContactCTA component
---
<section class="secao bg-image chamada-home overflow-hidden lazyload" data-bg="https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=2000" style="background-image: url('https://images.unsplash.com/photo-1555066931-4365d14bab8c?q=80&w=2000');">
  <span class="mascara"></span>
  <div class="container">
    <div class="content-chamada">
      <div class="grid-6 grid-m-7 grid-s-12">

        <h3 class="subtitulo left top-tit primary" data-aos="fade-up">Entre em Contato</h3>
        <h2 class="titulo left white" data-aos="fade-up">Descubra a Excelência em Desenvolvimento Web com Jeferson Dev</h2>

        <!-- Imagem mobile -->
        <span class="load-img-mobile" data-img="chamada-home"></span>

        <h3 class="subtitulo subtitulo-chamada left white" data-aos="fade-up">
          <p>Clique no botão abaixo e solicite uma consultoria ou <strong>orçamento</strong> de forma simples e rápida.</p>
        </h3>

        <div class="infos-contato flex-center mt-4" data-aos="fade-up">
          <!-- Telefone -->
          <a href="tel:67999169556" class="contato-item-chamada grid-m-8">
            <div class="contato-item-chamada-icon">
              <img src="/assets/telephone.svg" alt="Telefone" />
            </div>
            <div class="contato-item-chamada-infos">
              <div class="contato-item-chamada-tit">Telefone</div>
              <div class="contato-item-chamada-txt">(67) 99916-9556</div>
            </div>				
          </a>

          <!-- Email -->
          <a href="mailto:jefergarcia2013@gmail.com" class="contato-item-chamada grid-m-8">
            <div class="contato-item-chamada-icon">
              <img src="/assets/mail.svg" alt="E-mail" />
            </div>
            <div class="contato-item-chamada-infos">
              <div class="contato-item-chamada-tit">E-mail</div>
              <div class="contato-item-chamada-txt truncated">jefergarcia2013@gmail.com</div>
            </div>				
          </a>
        </div>

        <div class="btn-container left" data-aos="fade-up">
          <a href="/contato" class="btn btn-white">
            <span class="blob-effect">
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </span>Falar com Jeferson Dev
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
