---
// Footer component
---
<footer class="footer bg-image">
  <span class="mascara"></span>

  <div class="container">
    <div class="footer-content">
      
      <!-- Sobre -->
      <div class="footer-col footer-sobre" data-aos="fade-up" data-aos-offset="0">
        <a href="/" class="footer-logo">
          <span style="font-size: 20px; font-weight: 800; color: #fff;">JEFERSON DEV</span>
        </a>
        <div class="redes-sociais-tit"><b>Siga-nos nas redes sociais!</b></div>
        <div class="redes-sociais">
          <a href="https://editaiseconcursos.com.br/" target="_blank" title="Editais e Concursos" data-aos="zoom-in" data-aos-delay="200"><i class="fas fa-book"></i></a>
          <a href="https://github.com/JefersonGarcia2018/projeto-saas-multi-tenant-oficinas-mecanicas" target="_blank" title="GitHub" data-aos="zoom-in" data-aos-delay="300"><i class="fab fa-github"></i></a>
          <a href="https://www.youtube.com/watch?v=RWMVBc9INqA" target="_blank" title="Youtube" data-aos="zoom-in" data-aos-delay="500"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/in/jeferson-garcia-66b54a242/" target="_blank" title="LinkedIn" data-aos="zoom-in" data-aos-delay="700"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="foooter-txt" style="margin-top: 20px; font-weight: 400;">
          <b>Jeferson Dev Full Stack</b><br />
          Desenvolvedor de Software Full Stack
        </div>
      </div>
      
      <!-- Institucional -->
      <div class="footer-col hide-tablet institucional" data-aos="fade-up" data-aos-offset="0">
        <div class="footer-tit">Institucional</div>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/quem-somos">Quem Somos</a></li>	
          <li><a href="/produtos">Serviços</a></li>	
          <li><a href="/noticias">Novidades</a></li>		
          <li><a href="/contato">Fale Conosco</a></li>
          <li><a href="/trabalhe-conosco">Trabalhe Conosco</a></li>
          <li><a href="/politica-de-privacidade">Política de privacidade</a></li>
        </ul>
      </div>

      <!-- Formulário Newsletter -->
      <div class="footer-col news" data-aos="fade-up" data-aos-offset="0">
        <div class="footer-tit">Newsletter</div>
        <div class="footer-txt newsletter">Inscreva-se para receber artigos e dicas de tecnologia!</div>
        <div class="newsletter-form-content">
          <form id="form-newsletter" action="#" method="post" class="form-validation" data-reset="true" novalidate="">
            <div class="campo-container">
              <input type="email" name="email" id="email_news" maxlength="255" class="campo" placeholder="Digite seu e-mail" required="" /> 

              <div class="newsletter-btn">
                <button type="submit" id="enviar_news" class="btn btn-primario button-news">Cadastrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <!-- Atendimento -->
      <div class="footer-col" data-aos="fade-up" data-aos-offset="0">
        <div class="footer-tit">Atendimento</div>
        <ul class="footer-links">
          <li><a href="tel:67999169556"><i class="las la-phone la-flip-horizontal"></i> (67) 99916-9556</a></li>	
          <li><a href="https://wa.me/5567999169556" target="_blank"><i class="lab la-whatsapp"></i> (67) 99916-9556</a></li>
          <li><a href="mailto:jefergarcia2013@gmail.com" style="white-space: nowrap"><i class="las la-envelope"></i> jefergarcia2013@gmail.com</a></li>
          <li><a href="#" target="_blank"><i class="las la-map-marker-alt"></i> Três Lagoas - MS, 79621-130</a></li>
          <li><i class="las la-clock"></i> <span><b>Horário de atendimento:</b><br />De segunda à sexta, das 8:00h às 18:00h</span></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Barra footer -->
  <div class="footer-bar">
    <div class="container">
      <div class="footer-bar-content">
        <div class="footer-bar-item">© 2026 Jeferson Dev Full Stack - Todos os direitos reservados <br /> Desenvolvimento Web Premium</div>
      </div>
    </div>
  </div>
</footer>
