---
// Footer component
---
<footer class="footer bg-image">
  <span class="mascara"></span>

  <div class="container">
    <div class="footer-content">
      
      <!-- Sobre -->
      <div class="footer-col footer-sobre" data-aos="fade-up" data-aos-offset="0">
        <a href="/" class="footer-logo">
          <img src="/assets/7c8ed4e3a06870ca4f3deec989a7dac7.png" alt="Esel" />
        </a>
        <div class="redes-sociais-tit"><b>Siga-nos nas redes sociais!</b></div>
        <div class="redes-sociais">
          <a href="https://www.instagram.com/eselportasejanelas/" target="_blank" title="Instagram" data-aos="zoom-in" data-aos-delay="200"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/eseloficial" target="_blank" title="Facebook" data-aos="zoom-in" data-aos-delay="300"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.youtube.com/@esel.solu%C3%A7%C3%B5es" target="_blank" title="Youtube" data-aos="zoom-in" data-aos-delay="500"><i class="fab fa-youtube"></i></a>
          <a href="https://www.linkedin.com/company/eseloficial" target="_blank" title="LinkedIn" data-aos="zoom-in" data-aos-delay="700"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="foooter-txt" style="margin-top: 20px; font-weight: 400;">
          <b>Esquadrias Eidt Ltda - ESEL</b><br />
          CNPJ: 82.958.919/0001-57
        </div>
      </div>
      
      <!-- Institucional -->
      <div class="footer-col hide-tablet institucional" data-aos="fade-up" data-aos-offset="0">
        <div class="footer-tit">Institucional</div>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/quem-somos">Quem Somos</a></li>	
          <li><a href="/produtos">Produtos</a></li>	
          <li><a href="/noticias">Novidades</a></li>		
          <li><a href="/contato">Fale Conosco</a></li>
          <li><a href="/trabalhe-conosco">Trabalhe Conosco</a></li>
          <li><a href="/politica-de-privacidade">Política de privacidade</a></li>
        </ul>
      </div>

      <!-- Formulário Newsletter -->
      <div class="footer-col news" data-aos="fade-up" data-aos-offset="0">
        <div class="footer-tit">Newsletter</div>
        <div class="footer-txt newsletter">Cadastre-se e fique por dentro das novidades!</div>
        <div class="newsletter-form-content">
          <form id="form-newsletter" action="https://www.esel.com.br/acoes/app/newsletter/cadastro.php" method="post" class="form-validation form-ajax enable-recaptcha newsletter-form" data-reset="true" novalidate="">
            <div class="campo-container">
              <input type="email" name="email" id="email_news" maxlength="255" class="campo" placeholder="Digite seu e-mail" required="" data-parsley-trigger="change" data-parsley-remote="https://www.esel.com.br/acoes/app/newsletter/verifica_email.php" data-parsley-remote-options="{ &quot;type&quot;: &quot;POST&quot; }" data-parsley-remote-validator="remote" data-parsley-remote-message="Esse endereço de e-mail já foi cadastrado" /> 

              <div class="newsletter-btn">
                <!-- Campos de segurança (Honeypot) -->
                <input type="text" name="cph1d3" />
                <input type="text" name="cpt1m3" value="1783606092" />
                <input type="hidden" name="extra" value="{&quot;location&quot;:{&quot;city&quot;:&quot;Campo Grande&quot;,&quot;country&quot;:&quot;Brasil&quot;,&quot;countryCode&quot;:&quot;BR&quot;,&quot;query&quot;:&quot;200.129.210.229&quot;,&quot;region&quot;:&quot;MS&quot;,&quot;regionName&quot;:&quot;Mato Grosso do Sul&quot;,&quot;status&quot;:&quot;success&quot;}}" />
                <button type="submit" id="enviar_news" class="btn btn-primario button-news">Cadastrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <!-- Atendimento -->
      <div class="footer-col" data-aos="fade-up" data-aos-offset="0">
        <div class="footer-tit">Atendimento</div>
        <ul class="footer-links">
          <li><a href="tel:4936330228"><i class="las la-phone la-flip-horizontal"></i> (49) 3633-0228</a></li>	
          <li><a href="https://www.esel.com.br/whatsapp.php" target="_blank"><i class="lab la-whatsapp"></i> (49) 99138-3939</a></li>
          <li><a href="mailto:falecom@esel.com.br" style="white-space: nowrap"><i class="las la-envelope"></i> falecom@esel.com.br</a></li>
          <li><a href="https://www.google.com/maps?q=Rodovia+Aurelio+Francisco+Marconatto%2C+Km+22%2C2%2C+Pavilh%C3%A3o+A+S%2FN+Interior%2C+Santa+Helena+-+SC%2C+89915-000" target="_blank"><i class="las la-map-marker-alt"></i> Rodovia Aurelio Francisco Marconatto, Km 22,2, Pavilhão A S/N Interior, Santa Helena - SC, 89915-000</a></li>
          <li><i class="las la-clock"></i> <span><b>Horário de funcionamento:</b><br />De segunda à sexta, das 7:30h às 17:30h</span></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Barra footer -->
  <div class="footer-bar">
    <div class="container">
      <div class="footer-bar-content">
        <div class="footer-bar-item">© 2026 Esel - Todos os direitos reservados <br /> Desenvolvimento: <a href="https://www.ellosdesign.com.br/" target="_blank">Ellos Design</a></div>
      </div>
    </div>
  </div>
</footer>
