---
---
<header class="header header-full active">
  <div class="container">
    <div class="header-content">
      
      <!-- MENU MOBILIE BUTTON -->
      <span class="menu-btn-mobile" id="menu-btn-mobile"></span>

      <!-- LOGO -->
      <a href="/" title="Jeferson Dev Full Stack" class="header-logo">
        <span style="font-size: 20px; font-weight: 800; color: #f29718;">JEFERSON DEV</span>
      </a>
      <a href="/" title="Jeferson Dev Full Stack" class="header-logo white">
        <span style="font-size: 20px; font-weight: 800; color: #fff;">JEFERSON DEV</span>
      </a>

      <!-- DIREITA -->
      <div class="header-direita">

        <!-- MENU LATERAL -->
        <nav class="fdx-menu lateral">
          <ul class="fdx-menu-1-level">
            <li><a href="/">Home</a></li>
            <li><a href="/quem-somos">Quem Somos</a></li>	
            <li>
              <a href="/produtos">Serviços<i class="las la-angle-down" style="margin-left: 7px;"></i></a>
              <ul class="fdx-menu-2-level">
                <li>
                  <a class="has-sub" href="/produtos/portas-e-janelas">Sistemas & Apps Web</a>
                  <ul class="fdx-menu-3-level">
                    <li>
                      <a class="has-sub" href="/produtos/portas-e-janelas/portas">Backend & APIs</a>
                      <ul class="fdx-menu-4-level">
                        <li><a href="/produtos/portas-e-janelas/portas/portas-premium">Plataformas Enterprise</a></li>
                        <li><a href="/produtos/portas-e-janelas/portas/portas-gold">Sistemas SaaS</a></li>
                        <li><a href="/produtos/portas-e-janelas/portas/portas-pop">Micro-serviços</a></li>
                        <li><a href="/produtos/portas-e-janelas/portas/portas-sacadas">Painéis Administrativos</a></li>
                        <li><a href="/produtos/portas-e-janelas/portas/portas-internas">Integrações de API</a></li>
                      </ul>	
                    </li>
                    <li>
                      <a class="has-sub" href="/produtos/portas-e-janelas/janelas">Frontends Modernos</a>
                      <ul class="fdx-menu-4-level">
                        <li><a href="/produtos/portas-e-janelas/janelas/janelas-gold">Next.js & React</a></li>
                        <li><a href="/produtos/portas-e-janelas/janelas/janelas-pop">Astro & Tailwind</a></li>
                      </ul>	
                    </li>
                    <li>
                      <a href="/produtos/portas-e-janelas/vitros">Single Page Apps (SPA)</a>
                    </li>
                  </ul>	
                </li>
                <li>
                  <a href="/produtos/portas-internas">Websites & Landing Pages</a>
                </li>
                <li>
                  <a href="/produtos/moveis-de-jardim">E-commerce & Lojas Virtuais</a>
                </li>
              </ul>
            </li>
            <li><a href="/noticias">Novidades</a></li>
            <li><a href="/contato">Fale Conosco</a></li>	
            <li>
              <a href="/minha-conta/entrar" class="btn btn-primario">
                <span class="blob-effect">
                  <span class="blob-btn__inner">
                    <span class="blob-btn__blobs">
                      <span class="blob-btn__blob"></span>
                      <span class="blob-btn__blob"></span>
                      <span class="blob-btn__blob"></span>
                      <span class="blob-btn__blob"></span>
                    </span>
                  </span>
                </span>Área do Cliente
              </a>
            </li>
          </ul>
        </nav>

        <!-- BUSCA -->
        <div class="header-search-container">
          <a href="#" class="header-search-btn"><i class="las la-search"></i></a>
          <div class="header-search-dropdown">
            <form action="/produtos" method="GET" class="header-search-form">
              <input class="campo" type="text" id="header-search-input" name="busca" placeholder="Buscar serviços..." required="" /> 
              <span class="header-search-icon"><i class="las la-search"></i></span>
            </form>
          </div>
        </div>

      </div>
      <!-- //DIREITA -->

      <!-- BOTÕES -->
      <div class="header-botoes">	
        <ul class="languagepicker roundborders large">
          <a href="/?lang=pt">
            <li><img src="/assets/pt.svg" alt="Português" />Português</li>
          </a>
          <a href="/?lang=en" title="English">
            <li><img src="/assets/en.svg" alt="English" />English</li>
          </a>
          <a href="/?lang=es" title="Español">
            <li><img src="/assets/es.svg" alt="Español" />Español</li>
          </a>
        </ul>
      </div>
      <!-- //BOTÕES -->

    </div>
  </div>
</header>

<!-- MENU MOBILE -->
<div class="cd-dropdown-wrapper">
  <nav class="cd-dropdown">
    <ul class="cd-dropdown-content">
      <li><a href="/">Home</a></li>
      <li><a href="/quem-somos">Quem Somos</a></li>		

      <!-- SERVIÇOS (PRODUTOS) -->
      <li class="has-children">
        <a href="#">Serviços</a>
        <ul class="cd-secondary-dropdown is-hidden">
          <li class="go-back"><a href="#0">Voltar</a></li>
          <li class="see-all"><a href="/produtos">Todos Serviços</a></li>
          <li class="has-children">
            <a href="#">Sistemas & Apps Web</a>
            <ul class="is-hidden">
              <li class="go-back"><a href="#0">Voltar</a></li>
              <li class="see-all"><a href="/produtos/portas-e-janelas">Sistemas & Apps Web</a></li>
              <li class="has-children">
                <a href="#">Backend & APIs</a>
                <ul class="is-hidden">
                  <li class="go-back"><a href="#0">Voltar</a></li>
                  <li class="see-all"><a href="/produtos/portas-e-janelas/portas">Backend & APIs</a></li>
                  <li><a href="/produtos/portas-e-janelas/portas/portas-premium">Plataformas Enterprise</a></li>
                  <li><a href="/produtos/portas-e-janelas/portas/portas-gold">Sistemas SaaS</a></li>
                  <li><a href="/produtos/portas-e-janelas/portas/portas-pop">Micro-serviços</a></li>
                  <li><a href="/produtos/portas-e-janelas/portas/portas-sacadas">Painéis Administrativos</a></li>
                  <li><a href="/produtos/portas-e-janelas/portas/portas-internas">Integrações de API</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a href="#">Frontends Modernos</a>
                <ul class="is-hidden">
                  <li class="go-back"><a href="#0">Voltar</a></li>
                  <li class="see-all"><a href="/produtos/portas-e-janelas/janelas">Frontends Modernos</a></li>
                  <li><a href="/produtos/portas-e-janelas/janelas/janelas-gold">Next.js & React</a></li>
                  <li><a href="/produtos/portas-e-janelas/janelas/janelas-pop">Astro & Tailwind</a></li>
                </ul>
              </li>
              <li><a href="/produtos/portas-e-janelas/vitros">Single Page Apps (SPA)</a></li>
            </ul>
          </li>
          <li><a href="/produtos/portas-internas">Websites & Landing Pages</a></li>
          <li><a href="/produtos/moveis-de-jardim">E-commerce & Lojas Virtuais</a></li>
        </ul>
      </li>
      <!-- //SERVIÇOS -->
      
      <li><a href="/noticias">Novidades</a></li>	
      <li><a href="/contato">Fale Conosco</a></li>
      <li><a class="dest" href="/minha-conta/entrar">Área do Cliente</a></li>
      <li class="lang-mobile">
        <ul class="languagepicker roundborders large">
          <a href="#">
            <li><img src="/assets/pt.svg" alt="Português" />Português</li>
          </a>
          <a href="/?lang=en" title="English">
            <li><img src="/assets/en.svg" alt="English" />English</li>
          </a>
          <a href="/?lang=es" title="Español">
            <li><img src="/assets/es.svg" alt="Español" />Español</li>
          </a>
        </ul>
      </li>
    </ul>
  </nav>
</div>
