---
// Modals component
---
<!-- MODAL VÍDEOS -->
<div class="modal modal-video modal-center" id="modal-video">
  <div class="modal-wrap">
    <span class="modal-btn-close modal-close" data-modal="modal-video"></span>
    <div class="modal-body">
      <div class="bloco-video">
        <div class="bloco-video-wrapper"></div>
        <div class="bloco-video-infos">
          <div class="bloco-video-titulo"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //MODAL VÍDEOS -->

<!-- CONTATOS LATERAIS -->
<div class="contatos-laterais">
  <a href="https://www.esel.com.br/whatsapp.php" target="_blank" class="whatsapp" title="Fale conosco pelo WhatsApp!"><i class="fab fa-whatsapp"></i></a>
</div>

<!-- VOLTAR AO TOPO -->
<div class="gotop active"></div>

<!-- LOADING -->
<div class="loading">
  <div class="loading-wrap">
    <div class="loader">Aguarde...</div>
  </div>
</div>

<!-- ALERTA -->
<div class="modal alert" id="modal-alert">
  <div class="modal-wrap">
    <span class="modal-btn-close modal-close" data-modal="modal-alert"></span>
    <div class="modal-header">
      <div class="modal-alert-icon">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <i class="fas fa-times-circle"></i>
      </div>
      <span class="modal-titulo" id="alert-titulo"></span>          
    </div>
    <div class="modal-body">
      <div id="alert-texto" class="texto center"></div>
      <div class="modal-btn center">	
        <button type="button" class="btn btn-sm modal-close" data-modal="modal-alert">Fechar</button>
      </div>  
    </div>
  </div>
</div>
<!-- //ALERTA -->

<!-- Configurações lidas pelo script.js -->
<span id="infos" data-url-base="https://www.esel.com.br/" data-recaptchakey="6LcFEOQpAAAAAI7Klmb2l1mKRnGf_ff6VdMk19F7"></span>
