---
// ProductsCarousel component
---
<section class="secao produtos-home">
  <div class="container">

    <div class="flex-center txt-categorias mb-2">
      <div class="grid-8 grid-m-7 grid-s-12">
        <h3 class="subtitulo left top-tit primary" data-aos="fade-up">Nossos Produtos</h3>
        <h2 class="titulo left mb-0" data-aos="fade-up">Design, Qualidade e Tradição em Madeira</h2>
      </div>

      <div class="hide-mobile grid-4 grid-m-5 grid-s-12">
        <div class="btn-container right mt-0">
          <button class="btn btn-primario outline">
            <span class="blob-effect">
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </span>Ver mais produtos
          </button>
        </div>
      </div>
    </div>

    <!-- CARROSSEL -->
    <div class="grid-12" data-aos="fade-up">
      <div class="splide carousel carousel-arrows-zoom carrossel-produtos" id="splide04">
        <div class="splide__track" id="splide04-track">
          <div class="splide__list" id="splide04-list">

            <!-- Produto 1 -->
            <div class="splide__slide" id="splide04-slide01">
              <div class="bloco-produto">
                <a href="/produto/janela-pantografica-lisa-ou-quadriculada-je121">
                  <figure class="bloco-produto-foto">
                    <img class="shimmer lazyload" data-src="/assets/1ce1c636d237987992614ad4254e2b39.jpg" src="/assets/1ce1c636d237987992614ad4254e2b39.jpg" alt="Janela Pantográfica Vidro Liso JE121" />
                  </figure>
                </a>
                <div class="bloco-produto-infos">
                  <a href="/produto/janela-pantografica-lisa-ou-quadriculada-je121">
                    <div class="bloco-produto-categoria">JE121</div>
                    <div class="bloco-produto-titulo">Janela Pantográfica Vidro Liso JE121</div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Produto 2 -->
            <div class="splide__slide" id="splide04-slide02">
              <div class="bloco-produto">
                <a href="/produto/porta-estilo-sacada-pe631">
                  <figure class="bloco-produto-foto">
                    <img class="shimmer lazyload" data-src="/assets/36d251ce9aa09864fd3573d9a484d671.jpg" src="/assets/36d251ce9aa09864fd3573d9a484d671.jpg" alt="Porta Sacada Correr PE631" />
                  </figure>
                </a>
                <div class="bloco-produto-infos">
                  <a href="/produto/porta-estilo-sacada-pe631">
                    <div class="bloco-produto-categoria">PE631</div>
                    <div class="bloco-produto-titulo">Porta Sacada Correr PE631</div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Produto 3 -->
            <div class="splide__slide" id="splide04-slide03">
              <div class="bloco-produto">
                <a href="/produto/porta-de-madeira-macica-pe305-esel">
                  <figure class="bloco-produto-foto">
                    <img class="shimmer lazyload" data-src="/assets/a1a31e49d4bfd1fa8fc627f09615d9ca.jpg" src="/assets/a1a31e49d4bfd1fa8fc627f09615d9ca.jpg" alt="Porta de Madeira Maciça PE305 ESEL" />
                  </figure>
                </a>
                <div class="bloco-produto-infos">
                  <a href="/produto/porta-de-madeira-macica-pe305-esel">
                    <div class="bloco-produto-categoria">PE305</div>
                    <div class="bloco-produto-titulo">Porta de Madeira Maciça PE305 ESEL</div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Produto 4 -->
            <div class="splide__slide" id="splide04-slide04">
              <div class="bloco-produto">
                <a href="/produto/kit-porta-de-madeira-pe30-esel-natural">
                  <figure class="bloco-produto-foto">
                    <img class="shimmer lazyload" data-src="/assets/e8e78dceb32e0a3989f8dee5e66aeb3e.jpg" src="/assets/e8e78dceb32e0a3989f8dee5e66aeb3e.jpg" alt="Porta de Madeira Maciça Natural PE30 Esel" />
                  </figure>
                </a>
                <div class="bloco-produto-infos">
                  <a href="/produto/kit-porta-de-madeira-pe30-esel-natural">
                    <div class="bloco-produto-categoria">PE30</div>
                    <div class="bloco-produto-titulo">Porta de Madeira Maciça Natural PE30 Esel</div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Produto 5 -->
            <div class="splide__slide" id="splide04-slide05">
              <div class="bloco-produto">
                <a href="/produto/porta-interna-de-madeira-macica-pe71-esel">
                  <figure class="bloco-produto-foto">
                    <img class="shimmer lazyload" data-src="/assets/1201e16198813e3fca82ed68cf1b9d1c.jpg" src="/assets/1201e16198813e3fca82ed68cf1b9d1c.jpg" alt="Porta Interna de Madeira Maciça PE71 ESEL" />
                  </figure>
                </a>
                <div class="bloco-produto-infos">
                  <a href="/produto/porta-interna-de-madeira-macica-pe71-esel">
                    <div class="bloco-produto-categoria">PE71</div>
                    <div class="bloco-produto-titulo">Porta Interna de Madeira Maciça PE71 ESEL</div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Produto 6 -->
            <div class="splide__slide" id="splide04-slide06">
              <div class="bloco-produto">
                <a href="/produto/portas-de-giro-ou-pivotante-com-friso-laccato-italiano">
                  <figure class="bloco-produto-foto">
                    <img class="shimmer lazyload" data-src="/assets/b10a7e5581dbbb30075947c015657c12.jpg" src="/assets/b10a7e5581dbbb30075947c015657c12.jpg" alt="Portas de Giro ou Pivotante com Friso Laccato Italiano" />
                  </figure>
                </a>
                <div class="bloco-produto-infos">
                  <a href="/produto/portas-de-giro-ou-pivotante-com-friso-laccato-italiano">
                    <div class="bloco-produto-categoria">PGPFR-INDOOR</div>
                    <div class="bloco-produto-titulo">Portas de Giro ou Pivotante com Friso Laccato Italiano</div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Produto 7 -->
            <div class="splide__slide" id="splide04-slide07">
              <div class="bloco-produto">
                <a href="/produto/porta-de-madeira-macica-pe301-esel">
                  <figure class="bloco-produto-foto">
                    <img class="shimmer lazyload" data-src="/assets/5ab139fbabf39384bd26552c587240cb.jpg" src="/assets/5ab139fbabf39384bd26552c587240cb.jpg" alt="Porta de Madeira Maciça PE301 ESEL" />
                  </figure>
                </a>
                <div class="bloco-produto-infos">
                  <a href="/produto/porta-de-madeira-macica-pe301-esel">
                    <div class="bloco-produto-categoria">PE301</div>
                    <div class="bloco-produto-titulo">Porta de Madeira Maciça PE301 ESEL</div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Produto 8 -->
            <div class="splide__slide" id="splide04-slide08">
              <div class="bloco-produto">
                <a href="/produto/porta-de-correr-com-moldura-e-trilho-externo-laccato">
                  <figure class="bloco-produto-foto">
                    <img class="shimmer lazyload" data-src="/assets/2195cbbb94fa2ad40fa50431f2141414.jpg" src="/assets/2195cbbb94fa2ad40fa50431f2141414.jpg" alt="Porta de Correr com Moldura e Trilho Externo Laccato" />
                  </figure>
                </a>
                <div class="bloco-produto-infos">
                  <a href="/produto/porta-de-correr-com-moldura-e-trilho-externo-laccato">
                    <div class="bloco-produto-categoria">PCMTE-INDOOR</div>
                    <div class="bloco-produto-titulo">Porta de Correr com Moldura e Trilho Externo Laccato</div>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- //CARROSSEL -->

    <div class="btn-container hide-desktop hide-tablet">
      <a class="btn btn-primario outline" href="#">
        <span class="blob-effect">
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </span>Ver mais produtos
      </a>
    </div>

  </div>
</section>
