---
// ValueBlocks component
---
<section class="secao grey blocos-home">
  <div class="container">
    <div class="flex-center lista-blocos">
      
      <div class="grid-5 grid-m-12 grid-s-12 wrp-img-bloco" data-id-img="blocos-home">
        <h2 class="subtitulo left top-tit primary" data-aos="fade-up">Excelência em Cada Linha</h2>
        <h2 class="titulo left blocos-titulo" data-aos="fade-up">Destaques que Fazem a Diferença em Cada Projeto</h2>
        <h3 class="texto" data-aos="fade-up">
          <p>Combinamos engenharia de software de ponta, design responsivo e boas práticas para desenvolver plataformas web que transformam negócios. Conheça as principais vantagens do meu processo de desenvolvimento.</p>
        </h3>
        <div class="btn-container left" data-aos="fade-up">
          <a href="/contato" class="btn btn-primario outline">
            <span class="blob-effect">
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </span>Entrar em Contato!
          </a>
        </div>
      </div>

      <div class="grid-7 grid-m-12 grid-s-12">
        <!-- Imagem mobile -->
        <span class="load-img-mobile" data-img="blocos-home"></span>

        <div class="flex-center lista-bloco-itens">
          
          <!-- Bloco 1 -->
          <a href="#" class="bloco-item grid-6 grid-m-6 grid-s-12" data-aos="zoom-in">
            <div class="bloco-item-img">
              <img class="shimmer lazyload" data-src="/assets/d52f5cacace4af6261376c5281e980fb.png" src="/assets/d52f5cacace4af6261376c5281e980fb.png" width="65px" height="65px" alt="Performance Absoluta" />
            </div>
            <div class="bloco-item-infos">
              <div class="bloco-item-tit">Performance Absoluta</div>
              <div class="bloco-item-txt">Aplicações extremamente rápidas com foco total em core web vitals e SEO.</div>
            </div>
          </a>
          
          <!-- Bloco 2 -->
          <a href="#" class="bloco-item grid-6 grid-m-6 grid-s-12" data-aos="zoom-in">
            <div class="bloco-item-img">
              <img class="shimmer lazyload" data-src="/assets/f8ae67e12da635ce28100dffc77e97e5.png" src="/assets/f8ae67e12da635ce28100dffc77e97e5.png" width="65px" height="65px" alt="Código Limpo & Seguro" />
            </div>
            <div class="bloco-item-infos">
              <div class="bloco-item-tit">Código Limpo & Seguro</div>
              <div class="bloco-item-txt">Estruturação sob padrões de qualidade, facilitando evoluções seguras.</div>
            </div>
          </a>
          
          <!-- Bloco 3 -->
          <a href="#" class="bloco-item grid-6 grid-m-6 grid-s-12" data-aos="zoom-in">
            <div class="bloco-item-img">
              <img class="shimmer lazyload" data-src="/assets/6a88f8df8847aece45a3a3aea038474e.png" src="/assets/6a88f8df8847aece45a3a3aea038474e.png" width="65px" height="65px" alt="Design Responsivo" />
            </div>
            <div class="bloco-item-infos">
              <div class="bloco-item-tit">Design Responsivo</div>
              <div class="bloco-item-txt">Interfaces fluidas e adaptáveis para celulares, tablets e desktops.</div>
            </div>
          </a>
          
          <!-- Bloco 4 -->
          <a href="#" class="bloco-item grid-6 grid-m-6 grid-s-12" data-aos="zoom-in">
            <div class="bloco-item-img">
              <img class="shimmer lazyload" data-src="/assets/27c35944b692550f3e7ec93cd0857154.png" src="/assets/27c35944b692550f3e7ec93cd0857154.png" width="65px" height="65px" alt="Suporte Contínuo" />
            </div>
            <div class="bloco-item-infos">
              <div class="bloco-item-tit">Suporte Contínuo</div>
              <div class="bloco-item-txt">Monitoramento pós-lançamento, garantindo estabilidade e escalabilidade.</div>
            </div>
          </a>

        </div>
      </div>

    </div>
  </div>
</section>
